body{
    margin:0px;
}
#header ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#header ul li {
    display: inline-block;
}
#navigation ul li {
    font-size: 12px;
    line-height: 16px;
    padding-left: 4px;
    text-align: center;
}
#navigation ul li a{
    display: block;
    padding: 20px 10px;
    text-decoration: none;
    text-transform: capitalize;
}
